node_modules
dist
build
coverage
.nyc_output
*.tsbuildinfo

.git
.github
.vscode
.idea

.env
.env.*
!.env.example

*.log
npm-debug.log*

test
Dockerfile
docker-compose.yml
.dockerignore
README.md
openapi
postman
